*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html{
    scroll-behavior: smooth;
    --bg-odd: #fff;
    --bg-even: #f1f3f4;
    --main-color: #c1fc00;
    --text-color: #232f34;
    --lang-color: #A0AEC0;
    --description-color: #4A5568;
    --link-color: #232f34;
    --text-color-fixed: #232f34;

    .hero-image{
        content: url("../images/ninh.jpg");
    }
} 
html[data-theme='dark'] {
    --bg-odd: #000;
    --bg-even: #232f34;
    --main-color: #c1fc00;
    --text-color: #fff;
    --description-color: #A0AEC0;

    .hero-image{
        content: url("../images/ninh.jpg");
    }

    #section2{
        .card{
            background-color: var(--bg-even);
        }
    }
}  

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color);
}
img{
    max-width: 100%;
}

