*,
*::before,
 ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
    --bg-odd: #fff;
    --bg-even: #f1f3f4;
    --main-color: #c1fc00;
    --text-color: #232f34;
    --lang-color: #A0AEC0;
    --description-color: #4A5568;
    --link-color: #232f34;
    --text-color-fixed: #232f34;
}

html .hero-image {
    content: url("../images/ninh.jpg");
}

html .hero-image1 {
    content: url("../images/ninhpro-1.png");
}

html .hero-image2 {
    content: url("../images/python.jpg");
}

html[data-theme='dark'] {
    --bg-odd: #000;
    --bg-even: #232f34;
    --main-color: #c1fc00;
    --text-color: #fff;
    --description-color: #A0AEC0;
}

html[data-theme='dark'] .hero-image {
    content: url("../images/avt1.png");
}

html[data-theme='dark'] .hero-image1 {
    content: url("../images/ninhpro-1.png");
}

html[data-theme='dark'] .hero-image2 {
    content: url("../images/python.jpg");
}

html[data-theme='dark'] #section2 .card {
    background-color: var(--bg-even);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    -webkit-transition: all 750ms !important;
    transition: all 750ms !important;
    -webkit-transition-delay: 0 !important;
    transition-delay: 0 !important;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

img {
    max-width: 100%;
}

header {
    background-color: var(--bg-even);
    position: absolute;
    width: 100%;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav label {
    display: inline-block;
    font-weight: bolder;
    margin: .5rem;
    color: black;
}

nav .logo {
    background-color: var(--main-color);
    border-radius: 10px;
}

nav a,
nav .fab .fa-linkedin {
    color: var(--text-color);
    text-decoration: none;
    width: 50px;
}

nav .fab:hover {
    opacity: 0.6;
}

section {
    min-height: 100vh;
    padding: 40px;
}

section:nth-of-type(odd) {
    background-color: var(--bg-odd);
}

section:nth-of-type(even) {
    background-color: var(--bg-even);
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#section1 {
    padding-top: 80px;
    text-align: center;
}

#section1 .container .hero-image {
    width: 300px;
}

#section1 .container .hello {
    margin-left: 1em;
    margin-bottom: 30px;
}

#section1 .container .hello--there {
    font-size: 2.5rem;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

#section1 .container .hello--button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-color);
    padding: .5rem 20%;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 50px;
    color: var(--link-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#section1 .container .hello--button:hover {
    opacity: 0.6;
}

.twitter_Section {
    display: block;
}

.twitter_Section .twitter-tweet {
    margin: auto;
    display: inline-block;
}

#section3 .container {
    text-align: center;
    line-height: 2;
    max-width: 900px;
}

#section3 .container h1,
#section3 .container .quote {
    margin: auto auto 2rem;
}

#section3 .container .span-icon {
    margin-top: 2rem;
}

#section3 .container .bio {
    margin: 2rem auto;
    font-size: 1.2rem;
}

#section4 {
    padding: 40px 10px;
}

#section4 .container {
    margin-top: 2em;
}

#section4 .container .navmenu {
    position: absolute;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
}

#section4 .container ul {
    list-style: none;
}

#section4 .container .navmenu ul {
    position: relative;
}

#section4 .container .navmenu ul::after {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(100% - 28px);
    top: 0;
    background-color: var(--lang-color);
    opacity: 0.2;
    z-index: -1;
    margin-top: 18px;
}

#section4 .container .navmenu ul li {
    padding: 30px 0;
    padding-left: 20px;
}

#section4 .container .navmenu ul li a {
    text-decoration: none;
    position: relative;
}

#section4 .container .navmenu ul li a::before {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 55px;
    height: 55px;
    left: -47px;
    top: 90%;
    -webkit-transform: translateY(1%);
    transform: translateY(1%);
    border-radius: 50px;
    padding: 18.5px 12.5px;
    font-size: 0.8rem;
    color: var(--text-color-fixed);
}

#section4 .container a#BE::before {
    content: '2019';
}

#section4 .container a#dip::before {
    content: '2018';
}

#section4 .container a#ssc::before {
    content: '2015';
}

#section4 .container p {
    padding-left: 30px;
    color: var(--text-color);
    line-height: 2;
}

#section4 .container .heading {
    font-size: 1.1rem;
    font-weight: 600;
}

#section4 .container .subheading {
    font-size: 0.8rem;
}

#section2 {
    padding: 40px 20px;
}

#section2 .container {
    width: 100%;
    margin: 0 auto;
}

#section2 .card {
    background-color: var(--bg-odd);
    padding: 20px 30px;
    margin-top: 2rem;
    border-radius: 1rem;
    text-align: center;
    -webkit-box-shadow: 0 0 16px -10px gray;
    box-shadow: 0 0 16px -10px gray;
}

#section2 .card .language {
    font-size: .7rem;
    color: var(--lang-color);
    margin: 1rem auto -.1rem;
}

#section2 .card .title {
    font-size: 1.6rem;
}

#section2 .card .description {
    margin-top: 2rem;
    font-size: 0.8rem;
}

#section2 .card a.button {
    display: block;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1.5rem auto 1rem;
    border-radius: .3rem;
    font-size: 0.8rem;
    color: var(--link-color);
}

#section2 .card a.button .fas {
    padding-left: .4rem;
}

#section2 .card a.button:hover {
    opacity: 0.5;
}

#section2 .card .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#section2 .card .line {
    display: inline-block;
    height: 1.5rem;
    width: .1rem;
    background-color: var(--lang-color);
    opacity: 0.5;
    margin-right: 0.5rem;
}

#section2 .card .img {
    height: 1rem;
}

#section2 .card .like:hover {
    fill: var(--lang-color);
    stroke: var(--text-color);
    opacity: .5;
}

#section2 .card p.no {
    font-size: 1rem;
    display: inline;
    margin: 0 .5rem;
}

footer {
    background-color: var(--bg-even);
}

footer .col1,
footer .col2,
footer .col3 {
    text-align: center;
    padding: 20px;
}

footer label {
    color: var(--text-color);
    font-size: 1rem;
    display: block;
}

footer h3 {
    color: var(--text-color);
    margin: 2rem auto;
}

footer input,
footer textarea {
    border: 1px solid var(--main-color);
    outline: none;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin: .5em auto;
    resize: none;
    background-color: var(--bg-even);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    width: 380px;
    max-width: 100%;
    display: block;
}

footer input:focus,
footer input:hover,
footer input:active,
footer textarea:focus,
footer textarea:hover,
footer textarea:active {
    border-color: var(--text-color);
}

footer .button {
    background-color: var(--main-color);
    width: 380px;
    max-width: 100%;
    padding: .5rem 1rem;
    border-radius: .3rem;
    outline: none;
    border: none;
    margin: 0 auto;
    font-size: 0.8rem;
    color: var(--link-color);
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

footer input[type="submit"] {
    outline: none;
}

footer input[type="submit"]::-moz-focus-inner {
    border: 0;
    outline: none;
}

footer .button:hover {
    opacity: 0.5;
}

footer hr {
    color: var(--lang-color);
    margin-top: 2em;
    opacity: .3;
}

footer .col2 a {
    display: block;
    margin: 1rem auto;
    font-size: medium;
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-color);
}

footer .col2 a:hover {
    opacity: 0.5;
}

footer .col3 a,
footer .col3 .fab {
    color: var(--text-color);
    text-decoration: none;
    width: 24px;
}

footer .col3 .fab,
footer .col3 .fa {
    margin-left: 1rem;
}

footer .col3 .fa-github-square {
    margin-left: 0;
}

footer .col3 label {
    margin: 2em auto;
}

footer .fab:hover,
footer .fa:hover {
    opacity: 0.6;
}

.copyright {
    background-color: var(--bg-odd);
    text-align: center;
    padding: 0.5rem 40px;
    font-size: 1rem;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: collapse;
    display: none;
}

.lswitch {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 1.5rem;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.lswitch .fas {
    color: var(--text-color-fixed);
}

.lswitch:hover {
    opacity: 0.5;
}

@media (min-width: 1100px) {
    #section1 .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    #section1 .container .hero-image {
        width: 500px;
    }
    #section1 .container .hello {
        padding: 0;
        margin-bottom: 30px;
    }
    #section1 .container .hello--button {
        margin: inherit auto;
        width: 400px;
    }
    .twitter_Section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .twitter_Section .twitter-tweet {
        margin: auto;
        display: inline-block;
    }
    footer {
        padding: 0 40px 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    footer .col1 {
        justify-items: flex-start;
        justify-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    footer hr {
        visibility: hidden;
    }
}

@media (min-width: 700px) {
    #section4 .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #section4 .container .navmenu ul::after {
        opacity: 0.3;
    }
    #section4 .container .navmenu ul li a::before {
        content: '';
        width: 80px;
        height: 80px;
        left: -60px;
        -webkit-transform: translateY(1%);
        transform: translateY(1%);
        padding: 25.5px 18px;
        font-size: 1.2rem;
    }
    #section4 .container p {
        padding-left: 60px;
    }
    #section4 .container .heading {
        font-size: 1.5rem;
        font-weight: bold;
    }
    #section4 .container .subheading {
        font-size: 1rem;
    }
    #section2 .container {
        width: 100%;
        max-width: 1300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #section2 .card {
        margin: 40px;
        max-width: 400px;
    }
}

@media (max-height: 460px) {
    #section4 {
        min-height: 150vh;
    }
}


/*# sourceMappingURL=app.css.map */